name: Deploy via ftp
on: push
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
    - name: Checkout do código
      uses: actions/checkout@v3

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20.19.0

    - name: Instalar dependências
      run: npm ci

    - name: Build do projeto
      run: npm run build
      env:
        VITE_WHATSAPP_NUMBER: ${{ secrets.VITE_WHATSAPP_NUMBER }}
        VITE_CONTACT_EMAIL: ${{ secrets.VITE_CONTACT_EMAIL }}

    - name: FTP Deploy Locaweb
      uses: locaweb/ftp-deploy@1.0.0
      with:
        host: ${{ secrets.ftp_host }} 
        user: ${{ secrets.ftp_user }}
        password: ${{ secrets.ftp_password }}
        localDir: "dist/"